<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Neuroception</string>
	<key>CFBundleIdentifier</key>
	<string>com.moreylab.NeuroceptionApp</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Neuroception</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>bluetooth-central</string>
		<string>remote-notification</string>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We require your current location to better understand the context surrounding your vital sign data.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We require your current location to better understand the context surrounding your vital sign data.</string>
	<key>NSLocationUsageDescription</key>
	<string>We require your current location to better understand the context surrounding your vital sign data.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We require your current location to better understand the context surrounding your vital sign data.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We obtain your vital signs from bluetooth devices such as a wristwatch and EKG</string>
	<key>MinimumOSVersion</key>
	<string>12.1</string>
</dict>
</plist>
